@import "tailwindcss";

@layer base {
  button {
    background-color: #b79141;
    font-family: "Mulish", Sans-serif;
    font-size: 14px;
    letter-spacing: 0.9px;
    border: 0px;
    color: #fff;
    padding: 12px 24px;
  }
}

body {
  background-color: #000;
  color: #fff;
}
